<ng-container *ngIf="formParams">
    <div class="menu-options-custom-dialog">
        <h2>{{title}}</h2>
        <!-- <form-getter [formParams]="formParams" #formRef></form-getter> -->
        
        <form-view #formView [isTabMode]="data.isTabMode" [tableData]="formParams" [externalKeys]="data.keys" (sendEvent)='onEvent($event)' [isDialog]="true" [showSaveButton]="showSaveButton">
            <!-- (onMessagesUpdated)="updateMessages($event, 'table')" -->
        </form-view>
        
        <div mat-dialog-actions>
            <button mat-button (click)="dialogRef.close(false)">Chiudi</button>
        </div>
    </div>

</ng-container>
