<div class="time-tracker-container" *ngIf="data">
    <div class="div1">
        <p style="margin-left: 16px;">{{data.description}}</p>
        <button mat-button *ngIf="data.status === 'paused'" (click)="startTimer()">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-button *ngIf="data.status !== 'paused'" (click)="stopTimer()">
            <mat-icon>pause</mat-icon>
        </button>
        <p style="margin-right: 16px;">
            {{elapsedTime}}
        </p>
    </div>
</div>