<div class="time-tracker-container" *ngIf="data">
    <div class="time-tracker-div">
       <!--  <p style="margin-left: 16px; font-weight: bold;">
            <span (click)="gotoAziendeTasks()" matTooltip="Azienda Task">"{{data.codice_azienda}}"</span>
        </p> -->
        <p style="margin-left: 16px; margin-right: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <span (click)="gotoAziendeTasks()" matTooltip="Azienda Task" style="font-weight: bold;">{{data.codice_azienda}}: </span>
            <span (click)="gotoTaskDetails()" matTooltip="Task Details" [style.color]="descriptionColor">"{{data.description}}"</span>
        </p>
        <button mat-button *ngIf="data.status === 'paused'" (click)="startTimer()" matTooltip="Start"
        style="background-color: rgb(240, 240, 240); border: 1px solid black; margin-top: 12px;">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-button *ngIf="data.status !== 'paused'" (click)="stopTimer()" matTooltip="Stop"
        style="background-color: rgb(240, 240, 240); border: 1px solid black; margin-top: 12px;">
            <mat-icon>pause</mat-icon>
        </button>
        <p (click)="gotoConsultantDetails()" style="margin-left:16px; margin-right: 16px;"
            [style.color]="data.status === 'paused' ? 'orangeRed': 'green'"
            [style.cursor]="'pointer'" matTooltip="Task Details">
            {{elapsedTime}}
        </p>
    </div>
</div>