.time-tracker-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .time-tracker-div {
        // This fills the remaining space, by using flexbox.
        // Every toolbar row uses a flexbox row layout.
        position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;
       
    }
    p {
        font-size: 14px;
        span {
           cursor: pointer; 
        }
    }
}