<ng-container *ngIf="field.isVisible">
    <ng-container *ngIf="field.widgetType === 'attachments'">
        <attachments
            [keys]="field.fullValueSet"
            [entryName]="field.table"
            (onSave)="attachmentOnSave($event)"
            [tooltip]="field.tooltip"
            [initialCount]="numberValue">
        </attachments>
    </ng-container>

    <ng-container *ngIf="field.widgetType === 'multi-attachments'">
        <multi-attachments
            [keys]="field.fullValueSet"
            [entryName]="field.table"
            (onSave)="attachmentOnSave($event)"
            [tooltip]="field.tooltip"
            [initialCount]="numberValue"
            [businessObjectName]="businessObjectName"
            [field]="field">
        </multi-attachments>
    </ng-container>

    <ng-container *ngIf="field.widgetType === 'share'">
        <share [tooltip]="field.tooltip"></share>
    </ng-container>

    <ng-container *ngIf="field.widgetType === 's3-explorer'">
        <s3-explorer [tooltip]="field.tooltip"></s3-explorer>
    </ng-container>
</ng-container>