# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
yarn.lock
.angulardoc.json

# System Files
.DS_Store
Thumbs.db
lambda/dipendenti/Dipendenti.zip
lambda/dipendenti/node_modules
lambda/dipendenti/package-lock.json
lambda/procedure_aziendali/Procedure.zip
lambda/procedure_aziendali/package-lock.json
lambda/procedure_aziendali/node_modules
lambda/articoli_normativi/package-lock.json
lambda/articoli_normativi/node_modules

lambda/common/nodejs/package-lock.json
lambda/common/nodejs/node_modules/.bin
lambda/common/nodejs/node_modules/buffer-writer
lambda/common/nodejs/node_modules/generic-pool
lambda/common/nodejs/node_modules/packet-reader
lambda/common/nodejs/node_modules/pg
lambda/common/nodejs/node_modules/pg-connection-string
lambda/common/nodejs/node_modules/pg-pool
lambda/common/nodejs/node_modules/pgpass
lambda/common/nodejs/node_modules/semver
lambda/common/nodejs/node_modules/split
lambda/common/nodejs/node_modules/xtend
lambda/common/nodejs/node_modules/js-string-escape
lambda/common/nodejs/node_modules/object-assign
lambda/common/nodejs/node_modules/pg-int8
lambda/common/nodejs/node_modules/pg-types
lambda/common/nodejs/node_modules/postgres-array
lambda/common/nodejs/node_modules/postgres-bytea
lambda/common/nodejs/node_modules/postgres-date
lambda/common/nodejs/node_modules/postgres-interval
lambda/common/nodejs/node_modules/through
lambda/common/nodejs.zip

lambda/email_trigger/package-lock.json
lambda/email_trigger/node_modules
lambda/email_trigger/nodejs.zip
lambda/email_composer/package-lock.json
lambda/email_composer/node_modules
lambda/email_composer/nodejs.zip
lambda/email_sender/package-lock.json
lambda/email_sender/node_modules
lambda/email_sender/nodejs.zip
lambda/tabelle/package-lock.json
lambda/tabelle/node_modules
lambda/tabelle/nodejs.zip
lambda/S3ToRDS/package-lock.json
lambda/S3ToRDS/node_modules
lambda/S3ToRDS/nodejs.zip
lambda/import/node_modules
lambda/import/nodejs.zip
lambda/attachments/node_modules
lambda/attachments/nodejs.zip
lambda/views/Lambda-Deployment.zip
lambda/tables/package-lock.json
lambda/tables/nodejs.zip
lambda/tables/node_modules
lambda/reports/package-lock.json
lambda/reports/node_modules
lambda/reports/nodejs.zip
lambda/users/nodejs.zip
lambda/users/node_modules
lambda/navigation/nodejs.zip
lambda/navigation/node_modules
lambda/sftp/node_modules/
lambda/tables/nodejs.zip
lambda/views/nodejs.zip
lambda/translation/nodejs.zip
lambda/sftp/node_modules/
lambda/sftp/package-lock.json
lambda/CognitoDynamoUsers/nodejs.zip
lambda/time_tracker/node_modules/
lambda/time_tracker/package-lock.json
lambda/time_tracker/nodejs.zip
lambda/google_api/node_modules/
lambda/google_api/package-lock.json
lambda/google_api/nodejs.zip
lambda/dbf_to_csv_converter/package-lock.json
lambda/dbf_to_csv_converter/node_modules
lambda/dbf_to_csv_converter/nodejs.zip
lambda/utf_encoder/package-lock.json
lambda/utf_encoder/node_modules
lambda/utf_encoder/nodejs.zip
lambda/archiflow/package-lock.json
lambda/archiflow/node_modules
lambda/archiflow/nodejs.zip
lambda/archiflow_VPC/package-lock.json
lambda/archiflow_VPC/node_modules
lambda/archiflow_VPC/nodejs.zip

dynamo-tables/email_templates/dynamo-input/dynamo_*.json
dynamo-tables/views/dynamo-input/dynamo_*.json
dynamo-tables/reports/dynamo-input/dynamo_*.json
dynamo-tables/navigation/dynamo-input/dynamo_*.json
dynamo-tables/profiles/dynamo-input/dynamo_*.json
dynamo-tables/translation/dynamo-input/dynamo_*.json
dynamo-tables/users/dynamo-input/dynamo_*.json

fileheron
test.json
