# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
lambda/dipendenti/Dipendenti.zip
lambda/dipendenti/node_modules
lambda/dipendenti/package-lock.json
lambda/procedure_aziendali/Procedure.zip
lambda/procedure_aziendali/package-lock.json
lambda/procedure_aziendali/node_modules
lambda/articoli_normativi/package-lock.json
lambda/articoli_normativi/node_modules

lambda/common/nodejs/package-lock.json
lambda/common/nodejs/node_modules/.bin
lambda/common/nodejs/node_modules/buffer-writer
lambda/common/nodejs/node_modules/generic-pool
lambda/common/nodejs/node_modules/packet-reader
lambda/common/nodejs/node_modules/pg
lambda/common/nodejs/node_modules/pg-connection-string
lambda/common/nodejs/node_modules/pg-pool
lambda/common/nodejs/node_modules/pgpass
lambda/common/nodejs/node_modules/semver
lambda/common/nodejs/node_modules/split
lambda/common/nodejs/node_modules/xtend
lambda/common/nodejs/node_modules/js-string-escape
lambda/common/nodejs/node_modules/object-assign
lambda/common/nodejs/node_modules/pg-int8
lambda/common/nodejs/node_modules/pg-types
lambda/common/nodejs/node_modules/postgres-array
lambda/common/nodejs/node_modules/postgres-bytea
lambda/common/nodejs/node_modules/postgres-date
lambda/common/nodejs/node_modules/postgres-interval
lambda/common/nodejs/node_modules/through
lambda/common/nodejs.zip
.angulardoc.json
lambda/tabelle/package-lock.json
lambda/tabelle/node_modules
lambda/tabelle/nodejs.zip
lambda/allegati/node_modules
lambda/allegati/nodejs.zip
lambda/views/Lambda-Deployment.zip
lambda/tables/package-lock.json
lambda/tables/nodejs.zip
lambda/tables/node_modules
lambda/reports/package-lock.json
lambda/reports/node_modules
lambda/reports/nodejs.zip
