.privacy-policy {
    padding: 48px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background: whitesmoke;
}

.privacy-policy-container h1 {
    text-align: center;
    color: #333;
}

.privacy-policy-container p {
    text-align: justify;
    color: #555;
}
.container h2 {
    font-size: 20px;
    color: #444;
    margin-top: 20px;
  }
  
  .container ul {
    margin-left: 20px;
    list-style-type: disc;
  }
  
  .container ul li {
    margin-bottom: 10px;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  
    thead {
      tr {
        th {
          background-color: #f2f2f2;
          text-align: left;
          padding: 10px;
          border-bottom: 2px solid #ddd;
          font-weight: bold;
        }
      }
    }
  
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
  
        &:hover {
          background-color: #f1f1f1;
        }
  
        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          vertical-align: top;
  
          &.rowspan-cell {
            font-weight: bold;
            text-align: center;
          }
  
          strong {
            font-weight: bold;
          }
  
          u {
            text-decoration: underline;
          }
  
          ol {
            padding-left: 20px;
  
            li {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  