<div class="privacy-policy">
    <div class="container">
      <h1><strong>Privacy Policy di Alacritas</strong></h1>
      <ul>
        <li>Premessa</li>
      </ul>
      <p>
        Il presente documento disciplina il trattamento dei dati personali delle persone fisiche (di seguito, 
        “<strong>Interessati al trattamento</strong>”) di cui Alacritas viene a conoscenza nello svolgimento del servizio prestato, 
        nel proprio ruolo alternativamente di “<strong>Titolare del trattamento</strong>” o di “<strong>Responsabile Esterno</strong>”, 
        come di seguito definiti. I dati personali relativi agli Interessati al trattamento di cui Alacritas viene a conoscenza (di seguito, 
        “<strong>Dati Personali</strong>”) sono trattati in conformità al Regolamento (UE) 2016/679 sul trattamento dei dati personali 
        (di seguito, “<strong>Regolamento Privacy</strong>” o “<strong>GDPR</strong>”), alle misure legislative nazionali adottate 
        in esecuzione del Regolamento Privacy, ai provvedimenti e codici di condotta emanati dal Comitato europeo per la protezione 
        dei dati e dal Garante italiano per la protezione dei dati personali e da ogni altra previsione normativa in vigore e/o che 
        dovesse essere successivamente emanata (di seguito, collettivamente, la “<strong>Normativa Privacy</strong>”).
      </p>
      <p>
        Si precisa che Alacritas si avvale della controllante Audit Financial Team nel ruolo di Responsabile Esterno per lo svolgimento 
        di alcune funzioni (in particolare per la gestione della parte amministrativa, il marketing e parte degli sviluppi del software 
        OneCompliance, di proprietà di Alacritas). Per maggiori dettagli si rimanda alla Privacy policy di Audit Financial Team.
      </p>
      
      <h1><strong>Definizioni</strong></h1>
      <p>
        <strong><em>Dati personali: </em></strong> sono i dati relativi a persone fisiche comunicati alla Società. A titolo esemplificativo ma non esaustivo: nome, cognome, luogo e data di nascita, indirizzo di residenza e domicilio, sede del luogo di lavoro, ragione sociale, numero di partita IVA, codice fiscale, numero di telefono fisso o mobile, numero di fax, indirizzo di posta elettronica, indirizzo PEC, società datrice di lavoro, ruolo e/o inquadramento aziendale, coordinate bancarie, ecc. Si precisa che i Dati Personali potranno essere relativi alle persone fisiche legate all’Ente e dei soggetti ad esso collegati (e.g. clienti, fornitori, dipendenti ecc.)
      </p>
      <p>
        <strong><em>Dati particolari: </em></strong> i dati relativi a condanne penali e reati: si tratta dei dati c.d. “giudiziari”, cioè quelli che possono rivelare l’esistenza di determinati provvedimenti giudiziari soggetti ad iscrizione nel casellario giudiziale (ad esempio, i provvedimenti penali di condanna definitivi, la liberazione condizionale, il divieto od obbligo di soggiorno, le misure alternative alla detenzione) o la qualità di imputato o di indagato.
      </p>
      <p>
        <strong><em>Interessato del trattamento: </em></strong> la persona fisica cui si riferiscono i dati personali oggetto di trattamento.
      </p>
      <p>
        <strong><em>Titolare del trattamento: </em></strong> persona fisica o giuridica, l’autorità pubblica, il servizio o altro organismo che, singolarmente o insieme ad altri, determina le finalità e i mezzi del trattamento di dati personali.
      </p>
      <p>
        <strong><em>Responsabilità del trattamento: </em></strong> persona fisica o giuridica, l’autorità pubblica, il servizio o altro organismo che tratta dati personali per conto del Titolare del Trattamento.
      </p>

      <h2>
        <ul>
            <li><strong>Quali dati sono raccolti e in che modo</strong></li>
        </ul>
      </h2>
    <h3>
        <em>
            <strong>Dati oggetto del trattamento e modalità di acquisizione</strong>
        </em>
    </h3>
    <p>
        <strong>Alacritas</strong> (di seguito anche la “<strong>Società</strong>”) tratta i Suoi dati personali da Lei volontariamente forniti (verbalmente, tramite biglietto da visita, e-mail, consegna di documenti, attraverso il sito web del Titolare, ecc.) in conformità al GDPR, assumendo che, nei casi in cui Alacritas non è il Titolare, il trattamento relativo sia stato espressamente autorizzato dal relativo interessato o che siano stati conferiti in base a idonea base giuridica che legittima il trattamento dei dati in questione. In relazione a tali fattispecie il Cliente si pone come autonomo Titolare del Trattamento, assumendosi tutti gli obblghi e le responsabilità di legge conseguenti.
    </p>
    <p>
        In tal senso, Lei si impegna a manlevare e tenere indenne Alacritas da ogni contestazione, azione o pretesa avanzata nei confronti della Stessa da terzi soggetti i cui dati personali siano stati trattati su Sua richiesta e/o in esecuzione del mandato conferitoLe.In tal senso, Lei si impegna a manlevare e tenere indenne Alacritas da ogni contestazione, azione o pretesa avanzata nei confronti della Stessa da terzi soggetti i cui dati personali siano stati trattati su Sua richiesta e/o in esecuzione del mandato conferitoLe.
    </p>

    <h2>
        <ul>
            <li><strong>Modalità di trattamento</strong></li>
        </ul>
    </h2>
    <p>
        La raccolta e il trattamento dei Suoi dati personali da parte del Titolare avviene nel rispetto dei principi di liceità, correttezza e trasparenza e in maniera da garantirne un’adeguata sicurezza, compresa la protezione, mediante misure tecniche e organizzative adeguate, da trattamenti non autorizzati o illeciti e dalla perdita, dalla distruzione o dal danno accidentali.
    </p>
    <p>
        I dati raccolti saranno trattati mediante strumenti elettronici o comunque automatizzati, informatici e telematici, o mediante strumenti cartacei, con logiche strettamente correlate alle finalità per le quali tali dati sono stati raccolti e, comunque, in modo da garantirne in ogni caso la sicurezza e per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti, fatta salva la necessità di conservare i dati per rispondere agli obblighi previsti dalla normativa vigente anche successivamente alla cessazione delle operazioni di trattamento o fino al tempo permesso dalla legge italiana a tutela degli interessi del Titolare.
    </p>
    <p>
        Si prega di consultare la nostra <a href="inserirepaginacookie.it">pagina dedicata ai cookies</a>.
    </p>
    <p>
        Maggiori informazioni sulle modalità di trattamento e i tempi di conservazione dei suoi Dati Personali potranno essere ottenute scrivendo alla Società ai recapiti indicati al seguente paragrafo. 
    </p>








      <h2>
        <ul>
            <li><strong>Chi può ricevere, elaborare o utilizzare i dati personali</strong></li>
        </ul>
      </h2>
    <h3>
        <em>
        <strong>Titolare del Trattamento e Responsabile della protezione dei dati</strong>
        </em>
    </h3>
      <p>
        Titolare del Trattamento dei dati ai sensi della Normativa Privacy è Alacritas srl, con sede legale in via Aldo Moro, 8 31017 Pieve del Grappa (TV).
      </p>
        <p>
        Il Titolare ha nomintao un responsabile della protezione dei dati (“Data Protection Officer” o “DPO”) contattabile tramite i seguenti riferimenti:
        </p>
        <p>
        E-mail: DPO@auditft.it
        </p>
        <p>
        Tel.  +39 0422 183 3779 
        </p>


      <p>
        In nessun caso i dati personali saranno diffusi o comunicati al di fuori degli ambiti descritti, salvo obblighi di legge o richieste 
        dell’Autorità giudiziaria.
      </p>
  
      <h2><strong>Come vengono trattati i dati personali?</strong></h2>
      <p>
        Il trattamento dei dati personali avviene mediante strumenti informatici, cartacei e/o telematici, con modalità strettamente necessarie 
        a conseguire le finalità per cui sono raccolti e con logiche e misure idonee a garantire la loro sicurezza e riservatezza.
      </p>
  
      <h2><strong>Quanto tempo vengono conservati i dati personali?</strong></h2>
      <p>
        I dati personali saranno conservati per il tempo necessario a perseguire le finalità per le quali sono stati raccolti, in conformità 
        con gli obblighi legali e contrattuali applicabili.
      </p>
  
      <h2><strong>Quali sono i diritti dell’interessato?</strong></h2>
      <p>
        Gli Interessati hanno diritto, nei limiti previsti dalla normativa vigente, di:
      </p>
      <ul>
        <li>Accedere ai propri dati personali, ottenendo informazioni circa il trattamento e una copia dei dati stessi;</li>
        <li>Richiedere la rettifica di dati personali inesatti o la loro integrazione;</li>
        <li>Richiedere la cancellazione dei propri dati personali, salvo che ciò contrasti con obblighi di legge o necessità contrattuali;</li>
        <li>Richiedere la limitazione del trattamento;</li>
        <li>Ricevere i dati personali che lo riguardano in un formato strutturato, di uso comune e leggibile da dispositivo automatico, nei casi 
        previsti dalla normativa;</li>
        <li>Opporsi, in tutto o in parte, al trattamento dei propri dati personali per motivi legittimi;</li>
        <li>Proporre reclamo all’Autorità Garante per la protezione dei dati personali, con sede in Piazza di Montecitorio n. 121, 00186, Roma (RM).</li>
      </ul>
      <p>
        Per esercitare i propri diritti, gli Interessati possono inviare una richiesta scritta alla sede legale di Alacritas o via e-mail 
        all’indirizzo indicato nella presente informativa.
      </p>
  </div>
  