<div class="full-width">

    <div *ngIf="isMainTable" class="table_header">
        <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button *ngIf="!showAdvSearch" mat-button (click)="advSearch()">
            <mat-icon>search</mat-icon>
            Advanced Search
        </button>
        <button *ngIf="showAdvSearch" mat-button type="submit" form="myform">
            <mat-icon>search</mat-icon>
            Advanced Search
        </button>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="50"></mat-paginator>
    </div>

    <div *ngIf="showAdvSearch">
        <dynamic-form [fields]='regConfig_it' (submit)='submit($event)'>
        </dynamic-form>
    </div>

    <div *ngIf="showRowBar"> 
        RowBar
    </div>

    <div class="mat-elevation-z2">

        <table mat-table  *ngIf="!isLoading" [dataSource]="dataSource" matSort>

            <ng-container [matColumnDef]="column.label" *ngFor="let column of displayedColumns">
                <mat-header-cell *matHeaderCellDef mat-sort-header="{{column.key}}" [hidden]="column.isHidden">
                    {{column.label}} </mat-header-cell>
                <mat-cell *matCellDef="let element" [hidden]="column.isHidden"> {{element[column.key]}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button color="primary" (click)="addNew()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                  </button>
                </mat-header-cell>
          
                <mat-cell *matCellDef="let row; let i=index;">
                  <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
          
                  <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

            <mat-header-row *matHeaderRowDef="getColumnLabels(displayedColumns)"></mat-header-row>

            <mat-row *matRowDef="let row; columns: getColumnLabels(displayedColumns); let i = index;"
                (click)="getRecord(i, row)" [style.background]="(selectedRow == row && isMainTable) ? 'lightblue' : ''">
            </mat-row>
        </table>

        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

    </div>
</div>