table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
   
  }

  .table_header {
    display: flex;
    align-items: center;
    background-color:white;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filter {
      flex-basis: 30%;
  }


  .full-width {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }