
<div mat-dialog-content>


    <ng-container *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center; background-color: #fafafa;">
        
        <mat-progress-spinner color="primary" mode="indeterminate" class="mfa-spinner">
        </mat-progress-spinner>
    </ng-container>

    <ng-container *ngIf="!isLoading && data"
            style="display: flex; justify-content: center; align-items: center; background-color: #fafafa;">
        <div align="center">
            <h2>{{data.title}}</h2>
        </div>
        <div style="display: flex; flex-direction: column;">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Calendar</mat-label>
                <input matInput placeholder="Calendar" [(ngModel)]="data.calendar">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" [(ngModel)]="data.description" rows="5">
                </textarea>
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput placeholder="Start Date" [(ngModel)]="data.startDate">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput placeholder="End Date" [(ngModel)]="data.endDate">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Target</mat-label>
                <input matInput placeholder="Description" [(ngModel)]="data.object_name">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Description" [(ngModel)]="data.object_id">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Organizer</mat-label>
                <input matInput placeholder="Organizer" [(ngModel)]="data.organizer">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Attachment</mat-label>
                <input matInput placeholder="Attachment" [(ngModel)]="data.attachment">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Participants</mat-label>
                <input matInput placeholder="Participants" [(ngModel)]="data.participants">
                <mat-icon matPrefix></mat-icon>
            </mat-form-field> -->
        </div>
        <button mat-raised-button color="primary" (click)="gotoObject()">Go to object</button>
            
    </ng-container>
</div>
