
.add-button{
  background-color: #00008B;
  border-radius: 17px 17px 17px;
  color: whitesmoke;
}

.table-view-component {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  overflow-y: auto;
  width: 100%;

  .not-authorized {
    margin-top: 32px;
    height: 128px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .mat-icon {
      font-size: 64px;
      color: crimson;
    }
  }

  .mat-column-select {
    overflow: initial;
  }
  table {
    
  }

  .input-clickable {
    color: #2196f3 !important;
    cursor: pointer !important;
    font-weight: 500 !important;
    text-decoration: underline !important;                                    
  }
  

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table_header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filter {
    flex-basis: 30%;
    padding-left: 16px;
  }

  .table-view-buttons {
    display: flex;
    flex-direction: row;
  }

  .table-view-buttons-separator {
    flex: 0,3 0,3;
  }

  .adv-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(255, 255, 142);
    width: 100%;
  }

  .quick-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(255, 255, 142);
    width: 100%;
    // min-height: 320px;
    // max-height: 512px;
    min-height: 320px;
    max-height: 320px;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .data-table {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .buts-search {
    flex-direction: row;
  }

  .but-search {
    width: 50%;
  }

  .table-view-content {
    width: 100%;
    // padding: 0 24px 0;
    flex: 1 1;
    overflow-y: auto;
  }

  .table-column{
    word-wrap: break-word !important;
    // white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    // white-space: nowrap;
    overflow: overlay;
    text-overflow: ellipsis;
  }

  .table-column-select {
    overflow: initial;
  }

  .full-mode {
    height: 65vh;
    overflow-y: auto;
  }

  .mini-mode {
    height: 30vh;
    overflow-y: auto;
  }

  .split-mode {
    height: 10vh;
    overflow-y: auto;
  }
}
