
.add-button{
  background-color: #00008B;
  border-radius: 17px 17px 17px;
  color: whitesmoke;
}

.table-view-component {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  overflow-y: auto;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 10px 10px 10px 10px;

  .not-authorized {
    margin-top: 32px;
    height: 128px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .mat-icon {
      font-size: 64px;
      color: crimson;
    }
  }

  .mat-column-select {
    overflow: initial;
  }

  
  .input-clickable {
    color: #2196f3 !important;
    cursor: pointer !important;
    font-weight: 500 !important;
    text-decoration: underline !important;                                    
  }
  

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table_header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .table-view-filter-field {
    padding-left: 8px; 
    width: 200px;
}

  .table-view-buttons {
    display: flex;
    flex-direction: row;
  }

  .table-view-buttons-separator {
    flex: 0,3 0,3;
  }

  .adv-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(255, 255, 142);
    width: 100%;
  }

  .quick-add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(255, 255, 142);
    width: 100%;
    // min-height: 320px;
    // max-height: 512px;
    min-height: 370px;
    max-height: 370px;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .data-table {
    flex: 1 1 auto;
    overflow-y: auto;
    //line-height: 30px;
    //letter-spacing: 0.10px;
    background-color: transparent;
  }

  .buts-search {
    flex-direction: row;
  }

  .but-search {
    width: 50%;
  }

  .table-view-content {
    width: 100%;
    // padding: 0 24px 0;
    flex: 1 1;
    overflow-y: auto;
    border-radius: 0px 10px 10px 10px; 
  }

  .table-column{
    word-wrap: break-word !important;
    white-space:normal !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    // white-space: nowrap;
    overflow:visible;
    text-overflow: ellipsis;
  }

  .table-column-select {
    overflow: initial;
  }

  .full-mode {
    height: 65vh;
    overflow-y: auto;
  }

  .mini-mode {
    height: 30vh;
    overflow-y: auto;
  }

  .split-mode {
    height: 10vh;
    overflow-y: auto;
  }
}


.explorer-tab{
  border-radius: 15px 15px 15px 15px !important;
}


.explorer-loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.explorer-spinner {
  margin: 0px auto;
  margin-top: 210px;
}

.explorer-folders-title {
  padding-left: 8px;
}

.explorer-folders-content {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  height: 436px;
  padding: 8px;
  justify-content: flex-start;
}

.explorer-folder-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  justify-content: start;
  height: 76px;
  border: 1px solid lightgray;
  border-radius: 7px;
  margin: 4px;
  background: white;
  cursor: pointer;
}


.explorer-folder-icon {
  font-size: 72px;
  color: #ffae199e;
  margin-top: 0px;
}

.explorer-info-icon {
  font-size: 24px;
  color: #A5D2F5;
  margin-top: 24px;
}

.explorer-folder-text {
  margin-left: 60px;
  width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  margin-top: 28px;
}

.explorer-file-icon {
  font-size: 72px;
  color: #64bfeb;
  margin-top: 0px;
  margin-left: 8px;
}

.explorer-file-text {
  margin-left: 60px;
  width: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  margin-top: 16px;
}

