<div class="form-table-view-component">
    <div #formTableViewToolbar class="form-table-view-toolbar"
        [class.form-table-view-toolbar-sticky]="isFormTableViewToolbarSticky">
        <mat-form-field class="form-table-view-filter-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div style="flex-grow: 1"></div>
        <button mat-button (click)="reload()">
            <mat-icon>refresh</mat-icon>
            Reload
        </button>
        <button mat-button (click)="saveChanges()" *ngIf="!formGetter.hideActions.includes('save')">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button mat-button (click)="addNew()" *ngIf="!formGetter.hideActions.includes('quick-add')">
            <mat-icon>add</mat-icon>
            Quick Add
        </button>
        <button mat-button (click)="fullScreen()">
            <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
            FullScreen
        </button>





    </div>

    <form-getter #formGetter [class.form-table-view-content]="!isFormTableViewToolbarSticky"
        [class.form-table-view-content-sticky]="isFormTableViewToolbarSticky" [filter]="filter"
        [formParams]='getterParams' (onReload)="reload()" [isTabMode]="isTabMode"
        (onMessagesUpdated)="updateMessages($event)">
    </form-getter>
</div>