

<div id="start" fxLayout="column">

    <mat-toolbar id="start-toolbar">
        <h3 class="start-toolbar-title">OneCompliance</h3>
        <span class="start-toolbar-spacer"></span>
        <button mat-raised-button color="primary" aria-label="LOG IN" (click)="gotoLoginPage()">
            {{startButtonText}} 
        </button>
    </mat-toolbar>

    <div id="start-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="start-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo" style="width: 320px; margin-bottom: 0px;">
                <img src="assets/images/gorico/one-compliance-extended.png">
            </div>

            <button mat-raised-button color="primary" aria-label="LOG IN" (click)="gotoLoginPage()">
                {{startButtonText}}
            </button>
        </div>

    </div>

</div>