.full-width {
    width: 100%;
}

.calendar-component {
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: white;
    border: 2px solid white;
    border-radius: 8px;
    padding-top: 16px;
}

h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.calendar-flex-row {
    display: flex;
    width: 100%;
}

.days-header-element {
    flex: 1;
    text-align: center;
    font-size: 1.4em;
    color: darkcyan;
}


.day-of-week-base {
    border: 1px solid #0000001c;
    height: 128px;
    flex: 1;
    background: transparent;
    font-size: 2em;
    padding-top: 16px;
    text-align: center;
}

.day-of-week-not-selected {
    background: aliceblue;
    color: darkcyan;
}

.day-of-week-not-selected:hover {
    background: white;
    cursor: pointer;
}

.day-of-week-today {
    background: rgb(50, 163, 163);
    color: white;
}

.day-of-week-today:hover {
    background: white;
    color: darkcyan;
    cursor: pointer;
}

.day-of-week-selected {
    background: #fda6b5;
    color: white;
}

.day-of-week-selected:hover {
    background: #fda6b5;
    color: white;
}

.day-of-week-content {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.day-of-week-events {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.day-of-week-event-dot {
    height: 8px;
    width: 8px;
    margin-left: 4px;
    margin-top: 8px;
    border-radius: 50%;
    display: inline-block;
}

.event-panel {
    width: 100%;
    background: #fda6b5;
}

.event-item {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-title {
    margin: 0;
    color: white;
    font-weight: 500;
    padding-left: 8px;
}

.event-dot {
    height: 16px;
    width: 16px;
    margin-left: 8px;
    border-radius: 50%;
    display: inline-block;
}

.event-open-link {
    cursor: pointer;
    color: white;
}