
<div mat-dialog-content>
    <div class="quickadd-header ">
        <h2>{{data.title | octranslate}}</h2>
        <div></div>
        <button mat-button (click)="closeDialog()">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <hr/>
    <div style="max-height: 700px; overflow: auto;">
        <form-view [isQuickAdd]="true" [isTabMode]="data.isTabMode" class="quick-add"
            [tableData]="data.quickAddFormParams" [showSaveButton]="false" (sendEvent)='onEvent($event)' #formView>
        </form-view>
    </div>
    <div style="text-align: center; height: 44px; margin-top: 8px;">
        <button style="width: 30%; background-color: rgba(48, 161, 48, 0.63) !important;" mat-button (click)="formView.onSave()" form="formView.element_form">
            <mat-icon *ngIf="formView.savingState === 'save'">save</mat-icon>
            <mat-icon *ngIf="formView.savingState === 'saving'">cloud_upload</mat-icon>
            <mat-icon *ngIf="formView.savingState === 'done'">cloud_done</mat-icon>
            Save
        </button>
    </div>
</div>
