.quickadd-spinner {
    margin: 0px auto;
    margin-top: 210px;
}

.quickadd-header {
    display: flex;
    align-items: center;
    h2 {
        margin: 0;
    }
    div {
        flex: 1 1 auto;
    }
}
