@import "../../ndtheme.scss";


.oc-button {
    border-style: solid !important;
    box-shadow: none !important;
    height: 36px;
    font-family: 'DM Sans';
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    letter-spacing: 0.7px;
    text-transform: uppercase !important;
    padding: 8px 16px;
    gap: 16px;

    &.large {
        height: 52px !important;
        padding: 8px, 16px, 8px, 16px !important;
    }

    &.filled-button {
        background-color: $oc-color-primary !important;
        border-color: transparent !important;
        border-width: $oc-button-filled-border-weight !important;
        border-radius: $oc-button-filled-border-radius !important;
        color: $oc-shade-white !important;
        
        &:hover {
            background-color: $oc-color-secondary !important;
            border-color: transparent !important;
            color: $oc-shade-white !important;
        }
    
        &:focus {
            background-color: $oc-color-accent !important;
            border-color: $oc-color-primary !important;
            color: $oc-shade-white !important;
        }
    
        &:disabled,
        &[disabled] {
            background-color: $oc-alpha-12 !important;
            border-color: transparent !important;
            color: $oc-alpha-38 !important;
        }
    }
    
    &.outlined-button {
        background-color: $oc-alpha-0 !important;
        border-color: $oc-shade-black !important;
        border-width: $oc-button-outlined-border-weight !important;
        border-radius: $oc-button-outlined-border-radius !important;
        color: $oc-color-primary !important;
    
        &:hover {
            background-color: $oc-alpha-6 !important;
            border-color: $oc-shade-black !important;
            color: $oc-color-primary !important;
        }
    
        &:focus {
            background-color: $oc-color-accent !important;
            border-color: transparent !important;
            color: $oc-shade-white !important;
        }
    
        &:disabled,
        &[disabled] {
            background-color: transparent !important; // Not specified
            border-color: $oc-alpha-38 !important;
            color: $oc-alpha-38 !important;
        }
    }
    
    &.text-button {
        background-color: transparent !important;
        border-color: transparent !important;
        border-width: $oc-button-text-border-weight !important;
        border-radius: $oc-button-text-border-radius !important;
        color: $oc-shade-black !important;
    
        &:hover {
            background-color: $oc-alpha-6 !important;
            border-color: transparent !important;
            color: $oc-shade-black !important;
        }
    
        &:focus {
            background-color: $oc-alpha-6 !important;
            border-color: $oc-color-primary !important;
            color: $oc-shade-black !important;
        }
    
        &:disabled,
        &[disabled] {
            background-color: transparent !important;
            border-color: transparent !important;
            color: $oc-alpha-38 !important;
        }
    }

    mat-icon {
        // scale: 0.8333333333 !important;
        margin-top: 7px;

        &.oc-button-prefix-icon {
            margin-right: 8px;
        }

        &.oc-button-postfix-icon {
            margin-left: 8px;
        }

    }
}

