@import "../../ndtheme.scss";

.oc-button {
    border-radius: $oc-button-border-radius !important;
    border-width: $oc-button-border-weight !important;
    border-style: solid !important;
    box-shadow: none !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
    height: 36px;

    &.large {
        height: 52px !important;
    }

    &.primary-button {
        background-color: $oc-color-primary !important;
        color: $oc-shade-white !important;
        border-color: transparent !important;
        
        &:hover {
            background-color: $oc-color-secondary !important;
            color: $oc-shade-white !important;
            border-color: transparent !important;
        }
    
        &:focus {
            background-color: $oc-color-accent !important;
            color: $oc-shade-white !important;
            border-color: $oc-color-primary !important;
        }
    
        &:disabled,
        &[disabled] {
            background-color: $oc-alpha-12 !important;
            color: $oc-alpha-38 !important;
            border-color: transparent !important;
        }
    }
    
    &.secondary-button {
        background-color: transparent !important;
        color: $oc-color-primary !important;
        border-color: $oc-shade-black !important;
        
        &:hover {
            background-color: $oc-alpha-6 !important;
            color: $oc-alpha-38 !important;
            border-color: $oc-alpha-38 !important;
        }
    
        &:focus {
            background-color: $oc-color-accent !important;
            color: $oc-shade-white !important;
            border-color: transparent !important;
        }
    
        &:disabled,
        &[disabled] {
            background-color: transparent !important;
            color: $oc-alpha-38 !important;
            border-color: $oc-alpha-38 !important;
        }
    }
    
    &.light-button {
        background-color: transparent !important;
        color: $oc-shade-black !important;
        border-color: transparent !important;
    
    
        &:hover {
            background-color: $oc-alpha-6 !important;
            color: $oc-shade-black !important;
            border-color: transparent !important;
        }
    
    
        &:focus {
            background-color: $oc-alpha-6 !important;
            color: $oc-shade-black !important;
            border-color: $oc-shade-black !important;
        }
    
        &:disabled,
        &[disabled] {
            background-color: transparent !important;
            color: $oc-alpha-38 !important;
            border-color: transparent !important;
        }
    }    
}

