$oc-color-primary: #16354D;
$oc-color-secondary: #4D7E9F;
$oc-color-accent: #7FAAC4;

$oc-shade-white: #FCFDFE;
$oc-shade-black: #0C212D;

$oc-alpha-0: #87A9C100;
$oc-alpha-6: #08121C0F;
$oc-alpha-12: #08121C1F;
$oc-alpha-38: #08121C61;

$oc-button-filled-border-weight: 2px;
$oc-button-outlined-border-weight: 1px;
$oc-button-text-border-weight: 2px;
$oc-button-filled-border-radius: 8px;
$oc-button-outlined-border-radius: 8px;
$oc-button-text-border-radius: 4px;