
$oc-color-primary: #16354d;
$oc-color-secondary: #4d7e9f;
$oc-color-accent: #7faac4;
$oc-color-disabled: #08121c1f;

$oc-shade-white: #fcfdfe;
$oc-shade-black: #0c212d;

$oc-alpha-6: #08121c0f;
$oc-alpha-12: #08121c1f;
$oc-alpha-38: #08121c61;

$oc-button-border-weight: 2px;
$oc-button-border-radius: 8px;

