<div>
    <!-- <mat-toolbar *ngIf="tableData.showNavBar" class="p-0 mat-elevation-z1">

        <div class="div1">
            <button mat-button>
                <mat-icon (click)="toElement('first')">first_page</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="toElement('prev')">keyboard_arrow_left</mat-icon>
            </button>
            <p id="font_12"> Record {{n}} di {{tot}} </p>
            <button mat-button>
                <mat-icon (click)="toElement('next')">keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="toElement('last')">last_page</mat-icon>
            </button>
        </div>

        <div class="div2">
            <button *ngIf="!readOnly && savingState === 'save'" mat-button (click)="onSave()" form="element_form">
                <mat-icon>save</mat-icon>
            </button>

            <button *ngIf="!readOnly && savingState === 'saving'" mat-button>
                <mat-icon>cloud_upload</mat-icon>
            </button>

            <button *ngIf="!readOnly && savingState === 'done'" mat-button>
                <mat-icon>cloud_done</mat-icon>
            </button>

            <button mat-button>
                <mat-icon (click)="delElement()">delete</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="showAttachments()">attach_file</mat-icon>
            </button>
            <p id="font_12"> {{n_attach}} allegati </p>
            <button mat-button>
                <mat-icon>share</mat-icon>
            </button>
        </div>

    </mat-toolbar> -->

    <form-getter [isFormView]="true" [formParams]='getterParams' #formGetter
        (onHideActionsUpdated)="updateHideActions($event)" (onMessagesUpdated)="updateMessages($event)">
    </form-getter>

    <div class="full-width">

        <button *ngIf="!tableData.showNavBar" style="width: 100%;" mat-button (click)="onSave()" form="element_form">
            <mat-icon *ngIf="savingState === 'save'">save</mat-icon>
            <mat-icon *ngIf="savingState === 'saving'">cloud_upload</mat-icon>
            <mat-icon *ngIf="savingState === 'done'">cloud_done</mat-icon>
            Save
        </button>

    </div>
</div>