<div *ngIf="!tabFullScreen">
    <mat-toolbar class="p-0 mat-elevation-z1">

        <div class="div1">
            <button mat-button>
                <mat-icon (click)="toElement('first')">first_page</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="toElement('prev')">keyboard_arrow_left</mat-icon>
            </button>
            <p id="font_12"> Record {{n}} di {{tot}} </p>
            <button mat-button>
                <mat-icon (click)="toElement('next')">keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="toElement('last')">last_page</mat-icon>
            </button>
        </div>

        <div class="div2">
            <button *ngIf="savingState === 'save'" mat-button type="submit" form="element_form">
                <mat-icon>save</mat-icon>
            </button>

            <button *ngIf="savingState === 'saving'" mat-button>
                <mat-icon>cloud_upload</mat-icon>
            </button>

            <button *ngIf="savingState === 'done'" mat-button>
                <mat-icon>cloud_done</mat-icon>
            </button>

            <button mat-button>
                <mat-icon (click)="delElement()">delete</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="showAttachments()">attach_file</mat-icon>
            </button>
            <p id="font_12"> {{n_attach}} allegati </p>
            <button mat-button>
                <mat-icon>share</mat-icon>
            </button>
        </div>

    </mat-toolbar>

    <br><br>

    <div class="full-width">
        <dynamic-form *ngIf="!isLoading" class="form-container" [fields]='formData' (submit)='submit($event)'
            formName='element_form'>
        </dynamic-form>

        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>
    </div>