@import "src/@fuse/scss/fuse";

.navbar-toggle-button {
    min-width: 56px;
    height: 56px;
}

.full-width {
    width: 100%;
}

#font_12 {
    font-size: 12px;
}

.div1,.div2 {
    display: inline-flex;
}
.div1 {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 3 1 auto;
  }

.div2 {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 2 1 auto;
  }

.form-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
  }