.navigation-search-container {
    width: 100%;
    padding: 8px;
    color: white;
    background: #a5d2f5;
    display: flex;
    flex-direction: column;

    .navigation-search-div {
        // This fills the remaining space, by using flexbox.
        // Every toolbar row uses a flexbox row layout.
        position: relative;
        display: flex;
        flex: 0 0 auto;
        z-index: 4;
        max-width: 650px;
    }

    p {
        font-size: 14px;

        span {
            cursor: pointer;
        }
    }
}