<div class="navigation-search-container">
    <mat-form-field 
        (input)="filter()"
        appearance="outline">
        <mat-label style="font-size: large;  font-weight: bold; color: white">Search</mat-label>
        <input matInput type="text" [(ngModel)]="curValue" 
            [style.padding]="'4px'"
            [style.border-radius]="'4px'" [style.color]="'white'" [ocTooltip]="'Search'">
        <mat-icon *ngIf="curValue" matSuffix (click)="clear()">close</mat-icon>
    </mat-form-field>
</div>