.form-getter-component {
    max-width: 100vw;
    overflow-y: visible;
    width: 100%;

    // .form-container {
    //     display: flex;
    //     flex: 1 1 auto;
    //     flex-direction: column;
    //     margin-right: 5%;
    //     margin-left: 5%;
    // }
}