<div class='full-width' *ngIf="formParams">
    <div *ngFor="let item of filteredFormData; let idx=index">
        <div *ngIf="formParams.isVisible && !isLoading && (hiddenRows[idx] == null || hiddenRows[idx] === false)">
            <hr><br>
            <dynamic-form class="form-container" [isQuickAdd]="quickAddData[idx]" [fields]='item'
                [readOnlyPage]='readonlyRows[idx]'>
            </dynamic-form>
        </div>
    </div>
    <mat-card *ngIf="formParams.isVisible && isLoading"
        style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>

</div>