<div class='full-width'>
    <div *ngFor="let item of formData; let idx=index">
        <hr><br>
        <dynamic-form *ngIf="formParams.isVisible && !isLoading && (hiddenRows[idx] == null || hiddenRows[idx] === false)" class="form-container" [fields]='item'>
        </dynamic-form>
    </div>
    <mat-card *ngIf="formParams.isVisible && isLoading"
        style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>

</div>