<div id="change-password" fxLayout="column">

    <div id="change-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="change-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo" style="width: 320px; margin-bottom: 0px;">
                <img src="assets/images/gorico/one-compliance-extended.png">
            </div>

            <div class="title">CHANGE YOUR PASSWORD</div>

            <form name="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit($event)" novalidate>

                <mat-form-field>
                    <input matInput placeholder="New Password" password formControlName="password" type="password">
                    <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                        Please insert your new password
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('password').hasError('pattern')"> 
                        Password must have at least 8 chars, an uppercase letter, a lowercase letter, a number and a special char -> @$!%?&_
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Confirm New Password" formControlName="passwordConfirm" type="password">
                    <mat-error *ngIf="changePasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!changePasswordForm.get('passwordConfirm').hasError('required') &&
                    changePasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" class="submit-button"
                        aria-label="CHANGE PASSWORD" [disabled]="changePasswordForm.invalid">
                    CHANGE PASSWORD
                </button>
            
            </form>
            
            <br>
        </div>

    </div>

</div>