<div class="full-width main-table-component" #List [ngStyle]="{height: (formHeight) + 'px'}">

    <div class="main-table-headers">
        <div class="navi-bar">
            <ng-container *ngFor='let item of navigationHistory'>
                <mat-icon>arrow_forward</mat-icon>
                <a href="javascript: void(0)" (click)='historyPop(item)'>{{getCleanDescription(item.description)}}</a>
            </ng-container>
            <ng-container *ngIf='navigationHistory.length > 0'>
                <mat-icon>arrow_forward</mat-icon>
                <p>{{getCleanDescription(currentDescription)}}</p>
            </ng-container>
        </div>

        <form-view-toolbar *ngIf="tableType=='form' && !fullScreenTab" class="form-view-toolbar" [formView]="formView">
        </form-view-toolbar>
    </div>

    <div #mainTable class="main-table-content"
        [ngStyle]="{'margin-top': navigationHistory.length > 0? tableType=='form' && !fullScreenTab? '111px': '47px': '0px',
                    'height': navigationHistory.length > 0? tableType=='form' && !fullScreenTab? (formHeight-111) + 'px': (formHeight-47) +'px': '100%'}">
        <table-view [isTabMode]="false" #tableView *ngIf="tableType=='table'" [tableData]="tableParams" (sendEvent)='onEvent($event)'
            (onMessagesUpdated)="updateMessages($event, 'table')" class="">
        </table-view>

        <form-view #formView [isTabMode]="false" *ngIf="tableType=='form' && !fullScreenTab" [tableData]="formParams"
            (sendEvent)='onEvent($event)' (onMessagesUpdated)="updateMessages($event, 'table')">
        </form-view>

        <bottom-tabs *ngIf="tableType=='form' && showTabs" [Tabs]='tabs' [SaveData]='tabsSaveData'
            (sendEvent)='onEvent($event)' (onReload)="reload()" #Tabs>
        </bottom-tabs>

    </div>


    <br>
    <hr>
    <br>
    <!-- 
    <ng-container class="scrolling-element">

    </ng-container> -->

</div>