<form style="margin-left: 1%; margin-right: 1%; width: 98%; margin-bottom: 1%; margin-top: 1%;" [style.background-color]="isQuickAdd? 'transparent': 'whitesmoke'" 
class='p-0 mat-elevation-z2 dynamic-form' [formGroup]='form' [id]='formName' (submit)='onSubmit($event)'>
    <ng-container *ngFor='let field of fields;' dynamicField [field]='field' [group]='form' [readOnlyPage]='readOnlyPage'>
    </ng-container>

    <!-- <button mat-button  *ngIf="showKycTechButton" (click)="kycTech()">
        <mat-icon>update</mat-icon>
        Check in Global Watchlist
    </button> -->

</form>