<div class="table-multiselect-toolbar-container">
    <mat-toolbar [hidden]="!actions || !actions.length" class="p-0 mat-elevation-z1 table-multiselect-toolbar">
        <ng-container *ngFor="let action of actions; let i = index">
            <ng-container *ngIf="action.viewType === 'button'">
                <button mat-button color="primary" [disabled]="!selection || selection.isEmpty()" (click)="performButtonAction(action)">
                    <mat-icon>{{action.icon}}</mat-icon> {{action.label}}
                </button>
            </ng-container>
            <ng-container *ngIf="action.viewType === 'menu'">
                <button mat-button color="primary" [disabled]="!selection || selection.isEmpty()" [matMenuTriggerFor]="matMenu1" >
                {{action.label}}<mat-icon>{{action.icon}}</mat-icon>
                </button>
                <mat-menu #matMenu1="matMenu">
                <ng-container *ngFor="let item of action.menuOptions">
                    <button mat-menu-item (click)="performMenuAction(action, item)">
                        <span>
                        <mat-icon>{{item.icon}}</mat-icon>
                        </span>{{item.label}}
                    </button>
                </ng-container>
                </mat-menu>
            </ng-container>
        </ng-container>
    </mat-toolbar>
</div>