<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/fuse.svg">
                </div>
            </div>

            <!--div class="px-8 px-mat-16">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div-->
            <div class="toolbar-separator"></div>

            <button mat-button (click)="gotoList()">
                <mat-icon>format_list_bulleted</mat-icon>
                <span> List</span>
            </button>

            <button mat-button (click)="addElement()" *ngIf="!hideActions.includes('add')">
                <mat-icon>add</mat-icon>
                <span> Add</span>
            </button>

            <button mat-button>
                <mat-icon>dashboard</mat-icon>
                <span> Dashboard</span>
            </button>



        </div>

        <div class="toolbar-separator"></div>

        <button mat-button [matMenuTriggerFor]="companyMenu" class="user-button">Azienda: "{{currentCompany}}"
        </button>

        <mat-menu #companyMenu="matMenu">
            <ng-container *ngFor="let item of userCompanies">
                <button mat-menu-item (click)="setCompany(item,true)">{{item}}</button>
            </ng-container>
        </mat-menu>

        <div class="toolbar-separator"></div>

        <button [disabled]="!reportList || !reportList.length" mat-button [matMenuTriggerFor]="report_menu"
            (click)="getReportList()">
            <mat-icon>print</mat-icon>
        </button>

        <mat-menu #report_menu="matMenu">
            <ng-container *ngFor="let item of reportList">
                <button mat-menu-item (click)="getReport(item)">{{item.descrizione}}</button>
            </ng-container>
        </mat-menu>

        <button *ngIf="false" mat-button (click)="getExcel()">
            <mat-icon svgIcon="excel"></mat-icon>
        </button>

        <div class="toolbar-separator"></div>

        <div *ngIf="!hideActions.includes('import_export')">

            <button mat-button [matMenuTriggerFor]="downloadUploadMenu">
                <mat-icon>import_export</mat-icon>
            </button>

            <mat-menu #downloadUploadMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item [matMenuTriggerFor]="uploadMenu">
                    <mat-icon>cloud_upload</mat-icon>
                    <span>Upload</span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="downloadMenu">
                    <mat-icon>cloud_download</mat-icon>
                    <span>Download</span>
                </button>
            </mat-menu>

            <mat-menu #uploadMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item (click)="import()">
                    <mat-icon>note_add</mat-icon>
                    <span>Upload CSV</span>
                </button>

                <button *ngIf="importList && importList.length" mat-menu-item [matMenuTriggerFor]="advancedImportMenu">
                    <mat-icon>miscellaneous_services</mat-icon>
                    <span>Advanced</span>
                </button>
            </mat-menu>

            <mat-menu #advancedImportMenu="matMenu" [overlapTrigger]="false">

                <button *ngFor="let item of importList" mat-menu-item (click)="importAdvanced(item)">
                    <mat-icon>format_align_justify</mat-icon>
                    <span>{{item.label}}</span>
                </button>

            </mat-menu>

            <mat-menu #downloadMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item [matMenuTriggerFor]="downloadCSVMenu">
                    <mat-icon>reorder</mat-icon>
                    <span>CSV</span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="downloadExcelMenu">
                    <mat-icon svgIcon="excel"></mat-icon>
                    <span>Excel</span>
                </button>

            </mat-menu>

            <mat-menu #downloadCSVMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item (click)="downloadTemplateFile()">
                    <mat-icon>assignment</mat-icon>
                    <span>Download Template</span>
                </button>

                <button mat-menu-item (click)="downloadCSV()">
                    <mat-icon>format_align_justify</mat-icon>
                    <span>Download</span>
                </button>

                <button *ngIf="exportList && exportList.length" mat-menu-item [matMenuTriggerFor]="advancedCsvMenu">
                    <mat-icon>miscellaneous_services</mat-icon>
                    <span>Advanced</span>
                </button>
            </mat-menu>

            <mat-menu #downloadExcelMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item (click)="downloadExcel()">
                    <mat-icon>format_align_justify</mat-icon>
                    <span>Download</span>
                </button>

                <button *ngIf="exportList && exportList.length" mat-menu-item [matMenuTriggerFor]="advancedExcelMenu">
                    <mat-icon>miscellaneous_services</mat-icon>
                    <span>Advanced</span>
                </button>
            </mat-menu>

            <mat-menu #advancedCsvMenu="matMenu" [overlapTrigger]="false">

                <button *ngFor="let item of exportList" mat-menu-item (click)="downloadAdvancedCSV(item)">
                    <mat-icon>format_align_justify</mat-icon>
                    <span>{{item.label}}</span>
                </button>

            </mat-menu>
            <mat-menu #advancedExcelMenu="matMenu" [overlapTrigger]="false">

                <button *ngFor="let item of exportList" mat-menu-item (click)="downloadAdvancedExcel(item)">
                    <mat-icon>format_align_justify</mat-icon>
                    <span>{{item.label}}</span>
                </button>

            </mat-menu>
        </div>


        <div class="toolbar-separator"></div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" [src]="userdata.picture">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{userdata.name}} {{userdata.lastname}}</span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <button style="display: none;" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Account</span>
                </button>

                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>

            </mat-menu>

            <div class="toolbar-separator"></div>

            <button mat-button fxHide fxShow.gt-xs class="language-button" [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu>

        </div>

    </div>

</mat-toolbar>