table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table_header {
    display: flex;
    align-items: center;
    background-color:white;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filter {
      flex-basis: 30%;
  }

  .quick_add {
    display: flex;
    background-color:white;
    justify-content: space-around;
  }

  .save_button {
    display: flex;
    align-items: center;
    background-color:white;
    justify-content: space-evenly;
    width: 100%;
  }



  .full-width {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }