<div class="full-width" #List>

    <button *ngIf="!singleRecord" mat-button (click)="advSearch()">
        <mat-icon>search</mat-icon>
        Advanced Search
    </button>

    <div *ngIf="showAdvSearch">

    </div>

    <div class="quick_add">
        <button mat-button (click)="quickAdd()">
            <mat-icon>add</mat-icon>
            Quick Add
        </button>

    </div>

    <table-view *ngIf="loadTable && !singleRecord" [tableData]="tableParams" (sendEvent)='onEvent($event)'></table-view>

    <form-view *ngIf="singleRecord && !fullScreenTab" [tableData]="formParams" (sendEvent)='onEvent($event)'>
    </form-view>

    <ng-container *ngIf="singleRecord && showTabs">
        <br><br>
        <hr>

        <bottom-tabs [Tabs]='tabs' (sendEvent)='onEvent($event)'></bottom-tabs>
    </ng-container>

</div>