table {
  width: 100vw;
}

.mat-form-field {
  font-size: 14px;
  width: 100vw;
}

.table_header {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter {
  flex-basis: 30vw;
}

.quick_add {
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.save_button {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
  width: 100vw;
}

.full-width {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}

.sticky-element {
  position: sticky;
  background-color: white;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0px; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.scrolling-element {
  position: relative;
  z-index: 900;
}

.navi-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* zee stuff */

.main-table-content {
  width: 100%;
  display: inline-flex;
}

.full-mode {
  max-height: 75vh;
}

.split-mode {
  max-height: 50vh;
}
