.s3-explorer-loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.s3-explorer-spinner {
    margin: 0px auto;
    margin-top: 210px;
}

.s3-explorer-folders-title {
    padding-left: 8px;
}

.s3-explorer-folders-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    height: 436px;
    padding: 8px;
    justify-content: flex-start;
}

.s3-explorer-folder-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 226px;
    justify-content: start;
    height: 76px;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 4px;
    background: white;
    cursor: pointer;
}


.s3-explorer-folder-icon {
    font-size: 72px;
    color: #ffae199e;
    margin-top: 0px;
}

.s3-explorer-folder-text {
    margin-left: 60px;
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
    margin-top: 28px;
}

.s3-explorer-file-icon {
    font-size: 72px;
    color: #64bfeb;
    margin-top: 0px;
    margin-left: 8px;
}

.s3-explorer-file-text {
    margin-left: 60px;
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 32px;
    margin-top: 16px;
}

