<ng-container *ngIf="isLoading" class="s3-explorer-loading-content">
    <mat-progress-spinner color="primary" mode="indeterminate" class="s3-explorer-spinner">
    </mat-progress-spinner>
</ng-container>

<ng-container *ngIf="!isLoading">
    <ng-container *ngIf="curViewType === viewTypeTiles">
        <div class="s3-explorer-folders-content">
            <ng-container *ngFor="let folder of folders">
                <div class="s3-explorer-folder-info" (dblclick)="gotoFolder(folder)">
                    <i><mat-icon class="s3-explorer-folder-icon" >attach_file</mat-icon></i>
                    <p class="s3-explorer-folder-text">{{folder}}</p>
                </div>
            </ng-container>
            <ng-container *ngFor="let file of files">
                <div class="s3-explorer-folder-info">
                    <i><mat-icon class="s3-explorer-file-icon" >description</mat-icon></i>
                    <p class="s3-explorer-file-text">{{file}}</p>
                </div>
            </ng-container>
        </div>            
    </ng-container>

</ng-container>