<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">RESET YOUR PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="forgotPasswordForm.get('username').hasError('required')">
                        Please insert your username
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button"
                        aria-label="SEND EMAIL" [disabled]="forgotPasswordForm.invalid">
                    SEND VERIFICATION EMAIL
                </button>

                <p *ngIf="emailSent">
                    An email containing the verification code has been sent.
                </p>
            
            </form>
            
            <br>

            <form name="verificationForm" [formGroup]="verificationForm" (ngSubmit)="onSubmitCode()" novalidate>
                    
                <mat-form-field>
                    <input matInput placeholder="Verification Code" formControlName="verificationCode">
                    <mat-error *ngIf="verificationForm.get('verificationCode').hasError('required')">
                        Please insert the verification code sent to your email address.
                        Not received? Press the button above again.
                    </mat-error>

                </mat-form-field>

                <br><br> 

                <mat-form-field>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="New Password" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="verificationForm.get('password').hasError('required')">
                        Please insert the new password
                    </mat-error>
                    <mat-error *ngIf="verificationForm.get('password').hasError('pattern')"> 
                        Password must have at least 8 chars, an uppercase letter, a lowercase letter, a number and a special char 
                    </mat-error>
                </mat-form-field>

                <br><br> 

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="CONFIRM" [disabled]="!emailSent || verificationForm.invalid">
                    CONFIRM NEW PASSWORD
                </button>

                <p *ngIf="passwordReset">
                    New password has been set.
                </p>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>