<div class="full-width" #List>

    <div *ngIf="tableData.showHeader" class="table_header">
        <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="50"></mat-paginator>
    </div>


    <div class="mat-elevation-z2">

        <table mat-table *ngIf="!isLoading" [dataSource]="dataSource" matSort>

            <ng-container [matColumnDef]="entry.key" *ngFor="let entry of viewKeys">
                <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="entry.isHidden">
                    {{entry.label}} </mat-header-cell>
                <mat-cell *matCellDef="let row" [hidden]="entry.isHidden"> {{row[entry.key]}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
                (click)="getRecord(i, row)" [style.background]="(selectedRow == row) ? 'lightblue' : ''">
            </mat-row>
        </table>

        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

    </div>

</div>