<div class="full-width" #List>

    <div *ngIf="tableData.showHeader" class="table_header">
        <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="50"></mat-paginator>

    </div>

    <button *ngIf="tableData.showHeader" mat-button (click)="advSearch()">
        <mat-icon>search</mat-icon>
        Advanced Search
    </button>

    <div *ngIf="showAdvSearch" class="adv-search">
        <dynamic-form class="form-container" [fields]='searchData' (submit)='search_submit($event)'
            formName='search_form'>
        </dynamic-form>
        <div class="buts-search">
            <button class="but-search" mat-button (click)="cancel_search()">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>
            <button class="but-search" mat-button type="submit" form="search_form">
                <mat-icon>keyboard_return</mat-icon>
                Search
            </button>
        </div>
        <br>
    </div>



    <button mat-button (click)="quickAdd()">
        <mat-icon>add</mat-icon>
        Quick Add
    </button>




    <div class="mat-elevation-z2">

        <table mat-table *ngIf="!isLoading" [dataSource]="dataSource" matSort>

            <ng-container [matColumnDef]="entry.label" *ngFor="let entry of viewKeys">
                <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="entry.isHidden">
                    {{entry.label}} </mat-header-cell>
                <mat-cell *matCellDef="let row" [hidden]="entry.isHidden"> {{row[entry.key]}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" (click)="getRecord(i, row)"
                [style.background]="(selectedRow == row) ? 'lightblue' : ''">
            </mat-row>
        </table>

        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

    </div>

</div>