<div class="table-view-component" style="height: 100%;">

    <div *ngIf="tableData.showHeader" class="table_header">
        <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="50"></mat-paginator>

    </div>


    <div class="table-view-buttons">
        <button *ngIf="tableData.showHeader" mat-button (click)="advSearch()">
            <mat-icon>search</mat-icon>
            Advanced Search
        </button>

        <div class="table-view-buttons-separator"></div>
        <button
            *ngIf="(tableData.showHeader || (!tableData.showHeader && isFullScreen)) && !hideActions.includes('add')"
            mat-button (click)="quickAdd()">
            <mat-icon>add</mat-icon>
            Quick Add
        </button>

        <button *ngIf="tableData.showFullScreenButton" mat-button (click)="fullScreen()">
            <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
            FullScreen
        </button>
    </div>

    <div *ngIf="showAdvSearch" class="adv-search">
        <dynamic-form class="form-container" [fields]='searchData' (submit)='search_submit($event)'
            formName='search_form'>
        </dynamic-form>
        <div class="buts-search">
            <button class="but-search" mat-button (click)="cancel_search()">
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>
            <button class="but-search" mat-button type="submit" form="search_form">
                <mat-icon>keyboard_return</mat-icon>
                Search
            </button>
        </div>
        <br>
    </div>

    <form-view [isQuickAdd]="true" *ngIf="showQuickAdd" class="quick-add" [tableData]="quickAddFormParams"
        (sendEvent)='onEvent($event)'>
    </form-view>

    <div class="mat-elevation-z2" class="data-table">

        <table class="table-view-content" mat-table [hidden]="isLoading" [dataSource]="dataSource" matSort>
            <ng-container [matColumnDef]="entry.key" *ngFor="let entry of viewKeys">
                <mat-header-cell class="table-column"
                    [style.width]="entry.width? entry.width: entry.isButton? '128px': ''"
                    [style.flex]="entry.width? '0 0 ' + entry.width: '1'" *matHeaderCellDef mat-sort-header
                    [hidden]="entry.isHidden">
                    {{entry.label}}
                </mat-header-cell>
                <mat-cell class="table-column" [style.width]="entry.width? entry.width: entry.isButton? '128px': ''"
                    [style.flex]="entry.width? '0 0 ' + entry.width: '1'" [style.white-space]="'nowrap'"
                    [style.text-overflow]="'ellipsis'" *matCellDef="let row; let i = index;"
                    [style.border-radius.px]="entry.isButton ? '4': '24'" [hidden]="entry.isHidden">

                    <button *ngIf="entry.isButton && doesButtonIconExist(entry.key) && !entry.label && row[entry.key]"
                        style="color: #25599c;" mat-icon-button (click)="onButtonClick(entry.key, i, row)">
                        <mat-icon>{{getButtonIcon(entry.key)}}</mat-icon>
                    </button>
                    <button *ngIf="entry.isButton && entry.label && row[entry.key]"
                        style="background-color: #25599c; color: white;" mat-raised-button
                        (click)="onButtonClick(entry.key, i, row)">
                        <mat-icon *ngIf="doesButtonIconExist(entry.key)">{{getButtonIcon(entry.key)}}</mat-icon>
                        {{entry.label}}
                    </button>
                    <p *ngIf="!entry.isButton" style="width: 100%; text-align: left;"
                        [style.padding-left.px]="getLevel(row, entry.key)"
                        [ngStyle]="getElementStyle(entry.key, row[entry.key])">
                        {{entry.format.dataType === 'date' ? (row[entry.key] | date: 'dd/MM/yyyy') :
                        entry.format.dataType === 'datetime' ? (row[entry.key] | date: 'dd/MM/yyyy, h:mm:ss a') :
                        entry.format.dataType === 'time' ? (row[entry.key] | date: 'h:mm:ss a') : row[entry.key]}}
                    </p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" (click)="getRecord(i, row)"
                [style.background]="(selectedRow == row) ? 'lightblue' : ''">
            </mat-row>
        </table>

        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

    </div>

</div>