<div class="form-view-toolbar-container" *ngIf="formView && formView.tableData">
    <mat-toolbar *ngIf="formView.tableData.showNavBar" class="p-0 mat-elevation-z1 form-view-toolbar">

        <div class="div1"
            *ngIf="formView.tableData.navBarMode === 'detail' && !formView.formGetter.hideActions.includes('navigate')">
            <button mat-button (click)="formView.toElement('first')">
                <mat-icon>first_page</mat-icon>
            </button>
            <button mat-button (click)="formView.toElement('prev')">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <p id="font_12"> Record {{formView.n}} di {{formView.tot}} </p>
            <button mat-button (click)="formView.toElement('next')">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button (click)="formView.toElement('last')">
                <mat-icon>last_page</mat-icon>
            </button>
        </div>

        <div class="div2" *ngIf="!formView.formGetter.hideActions.includes('save')">
            <button *ngIf="!formView.readOnly && formView.savingState === 'save'" mat-button (click)="formView.onSave()"
                form="formView.element_form">
                <mat-icon>save</mat-icon>
                <span *ngIf="formView.tableData.navBarMode === 'add'">Save</span>
            </button>

            <button *ngIf="!formView.readOnly && formView.savingState === 'saving'" mat-button>
                <mat-icon>cloud_upload</mat-icon>
                <span *ngIf="formView.tableData.navBarMode === 'add'">Save</span>
            </button>

            <button *ngIf="!formView.readOnly && formView.savingState === 'done'" mat-button>
                <mat-icon>cloud_done</mat-icon>
                <span *ngIf="formView.tableData.navBarMode === 'add'">Save</span>
            </button>
        </div>
        <div class="div2" *ngIf="formView.tableData.navBarMode === 'detail'">
            <button mat-button *ngIf="!formView.formGetter.hideActions.includes('delete')"
                (click)="formView.delElement()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-button *ngIf="!formView.formGetter.hideActions.includes('attachments')"
                (click)="formView.showAttachments()">
                <mat-icon [matBadge]="formView.n_attach">attach_file</mat-icon>
            </button>

            <button mat-button [matMenuTriggerFor]="companyMenu"
                *ngIf="!formView.formGetter.hideActions.includes('share')">
                <mat-icon>share</mat-icon>
            </button>

            <mat-menu #companyMenu="matMenu">
                <ng-container *ngFor="let item of userCompanies">
                    <button mat-menu-item (click)="formView.shareElement(item)">{{item}}</button>
                </ng-container>
            </mat-menu>

            <button mat-button *ngIf="!formView.formGetter.hideActions.includes('startEvent')"
                (click)="formView.startEvent()">
                <mat-icon>play_arrow</mat-icon>
            </button>

            <button mat-button *ngIf="!formView.formGetter.hideActions.includes('stopEvent')"
                (click)="formView.stopEvent()">
                <mat-icon>pause</mat-icon>
            </button>
        </div>

    </mat-toolbar>
</div>