
<div mat-dialog-content>

    <file-manager *ngIf="!attach"></file-manager>

    <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

        <!-- CONTENT -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div *ngIf="attach" class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">
            
                <div class="breadcrumb text-truncate h1 pl-64 w-100-p" fxLayout="row" fxLayoutAlign="space-between center">
                        <span>Allega Nuovo File</span>
                </div>
            </div>

            <div class="mb-24" fxLayout="column" fxLayoutAlign="center" fxLayout.gt-md="row">

                <br><br>

                <app-file-upload [progress]="progress" [hidden]="!attach" #fileUploader></app-file-upload>
             
                <br><br>

                <form-view *ngIf="attach" [tableData]="formParams" (sendEvent)='onNewType($event)' #formRef></form-view>

                <form-view *ngIf="attach" [tableData]="newTypeParams" (sendEvent)='onSave()'></form-view>

            </div>
        </div>

    </div>

</div>

<div mat-dialog-actions>
    <!--button *ngIf="attach" mat-button type="submit" form="formAttach">Salva</button-->
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Chiudi</button>
</div>