<ng-container *ngIf="field.isVisible">
    <ng-container *ngIf="field.readonly && (field.eventTrigger || field.onClick)">
        <mat-form-field 
            class="readOnlyPressable readOnly"
            (click)="onPress()"
            [ngStyle]="{'width': '100%'}" 
            appearance="outline" 
            [formGroup]="group">
            <mat-label style="font-size: large;  font-weight: bold;"><span>{{ field | octranslate }}</span></mat-label>
            <span *ngIf="field.prefix" matPrefix>{{field.prefix}}</span>
            <input [required]="isRequired" matInput [value]="field.value" [formControlName]="field.name"
                [placeholder]="field | octranslate" type="text" readonly="true"
                [style.padding]="'4px'"
                [style.border-radius]="'4px'" [style.background-color]="field.style.background_color"
                [style.font-weight]="field.style.font_weight" [style.font-size]="field.style.font_size"
                [style.text-decoration]="field.style.text_decoration" [style.color]="field.style.font_color" [ocTooltip]="field.tooltip">
            <span *ngIf="field.suffix" matSuffix>{{field.suffix}}</span>        
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="field.readonly && !field.eventTrigger && !field.onClick">
        <mat-form-field 
            class="readOnly"
            style="width: 100%;"
            appearance="outline" 
            [formGroup]="group">
            <mat-label style="font-size: large; font-weight: bold;">{{ field | octranslate }}</mat-label>
            <span *ngIf="field.prefix" matPrefix>{{field.prefix}}</span>
            <input [required]="isRequired" matInput [value]="field.value || ' '"
                [placeholder]="field | octranslate" readonly="true"
                [style.padding]="'4px'"
                [style.border-radius]="'4px'" [style.background-color]="field.style.background_color"
                [style.font-weight]="field.style.font_weight" [style.font-size]="field.style.font_size"
                [style.text-decoration]="field.style.text_decoration" [style.color]="field.style.font_color" [ocTooltip]="field.tooltip">
            <span *ngIf="field.suffix" matSuffix>{{field.suffix}}</span>
            <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation | octranslate}}</mat-error>
            </ng-container>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!field.readonly && field.inputType !== 'date' && field.inputType !== 'datetime' && field.inputType !== 'time'">
        <mat-form-field 
            class="notReadOnly"
            style="width: 100%" 
            appearance="outline" 
            [formGroup]="group"
            (click)="onPress()">
            <mat-label style="font-size: large;">{{field | octranslate}}</mat-label>
            <span *ngIf="field.prefix" matPrefix>{{field.prefix}}</span>
            <input [style.display]="showCustomElement?'none':''" [required]="isRequired" matInput [value]="field.value" [formControlName]="field.name"
                [placeholder]="field | octranslate" [type]="field.inputType" [readonly]="field.readonly || readOnlyPage"
                (blur)="onBlur()" (focus)="onFocus()" (change)="updateValue()" [style.padding]="'4px'"
                [style.border-radius]="'4px'" [style.background-color]="field.style.background_color"
                [style.font-weight]="field.style.font_weight" [style.font-size]="field.style.font_size"
                [style.text-decoration]="field.style.text_decoration" [style.color]="field.style.font_color" [ocTooltip]="field.tooltip">
            <span [style.display]="showCustomElement?'':'none'" (click)="showCustomElement=false">{{field.value | number:'.'}}</span>
            <span *ngIf="field.suffix" matSuffix>{{field.suffix}}</span>
            <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation | octranslate}}</mat-error>
            </ng-container>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!field.readonly && field.inputType === 'date'">
        <mat-form-field
            class="notReadOnly" 
            style="width: 100%"
            appearance="outline"
            [formGroup]="group"
            (click)="onPress()">
            <mat-label style="font-size: large;">{{field | octranslate}}</mat-label>
            <span *ngIf="field.prefix" matPrefix>{{field.prefix}}</span>

            <input [required]="isRequired" matInput [matDatepicker]="datepicker" [value]="field.value"
                [placeholder]="field | octranslate" [formControlName]="field.name" [disabled]="field.readonly || readOnlyPage"
                (blur)="onBlur()" (focus)="onFocus()" (dateChange)="updateDateTimeValue()" [style.padding]="'4px'"
                [style.border-radius]="'4px'" [style.background-color]="field.style.background_color"
                [style.font-weight]="field.style.font_weight" [style.font-size]="field.style.font_size"
                [style.text-decoration]="field.style.text_decoration" [style.color]="field.style.font_color" [ocTooltip]="field.tooltip">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker matInput [matDatepicker]="datepicker" #datepicker></mat-datepicker>

            <span *ngIf="field.suffix" matSuffix>{{field.suffix}}</span>
            <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation | octranslate}}</mat-error>
            </ng-container>
        </mat-form-field>
    </ng-container>


    <ng-container *ngIf="!field.readonly && field.inputType === 'datetime'">
        <mat-form-field
            class="notReadOnly" 
            style="width: 100%"
            appearance="outline"
            [formGroup]="group"
            (click)="onPress()">
            <mat-label style="font-size: large;">{{field | octranslate}}</mat-label>
            <span *ngIf="field.prefix" matPrefix>{{field.prefix}}</span>

            <input [required]="isRequired" matInput [ngxMatDatetimePicker]="datetimepicker" [placeholder]="field | octranslate"
                [formControlName]="field.name" [disabled]="field.readonly || readOnlyPage" (blur)="onBlur()" (focus)="onFocus()"
                (dateChange)="updateDateTimeValue()" [style.padding]="'4px'" [style.border-radius]="'4px'"
                [style.background-color]="field.style.background_color" [style.color]="field.style.font_color"
                [style.font-weight]="field.style.font_weight" [style.font-size]="field.style.font_size" [ocTooltip]="field.tooltip">
            <mat-datepicker-toggle matSuffix [for]="datetimepicker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #datetimepicker [showSpinners]="true" [showSeconds]="true" [stepHour]="true"
                [stepMinute]="true" [stepSecond]="true" [touchUi]="false" [enableMeridian]="true" [disableMinute]="false"
                [hideTime]="false">
            </ngx-mat-datetime-picker>

            <span *ngIf="field.suffix" matSuffix>{{field.suffix}}</span>
            <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation | octranslate}}</mat-error>
            </ng-container>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!field.readonly && field.inputType === 'time'">
        <mat-form-field
            class="notReadOnly" 
            style="width: 100%"
            appearance="outline"
            [formGroup]="group"
            (click)="onPress()">
            <mat-label style="font-size: large;">{{field | octranslate}}</mat-label>
            <span *ngIf="field.prefix" matPrefix>{{field.prefix}}</span>
            <input [required]="isRequired" matInput [ngxMatTimePicker]="timepicker" [placeholder]="field | octranslate"
                [formControlName]="field.name" [disabled]="field.readonly || readOnlyPage" (blur)="onBlur()" (focus)="onFocus()"
                (dateChange)="updateDateTimeValue()" [style.padding]="'4px'" [style.border-radius]="'4px'"
                [style.background-color]="field.style.background_color" [style.color]="field.style.font_color"
                [style.font-weight]="field.style.font_weight" [style.font-size]="field.style.font_size" [ocTooltip]="field.tooltip"
                readonly (click)="timepicker.open()">
            <mat-icon matSuffix (click)="timepicker.open()">watch_later</mat-icon>
            <span *ngIf="field.suffix" matSuffix>{{field.suffix}}</span>
            <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
                <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation | octranslate}}</mat-error>
            </ng-container>
        </mat-form-field>
        <ngx-mat-timepicker #timepicker dottedMinutesInGap
            enableKeyboardInput
            [defaultTime]="timeValue"
            (timeSet)="onTimeSet($event)"
            ></ngx-mat-timepicker>  

    </ng-container>
</ng-container>