:host ::ng-deep .mat-form-field-wrapper .mat-form-field-flex {
    background-color: aliceblue !important;
    border-radius: 8px;
  }
  
  :host ::ng-deep .readOnlyPressable .mat-form-field-wrapper .mat-form-field-flex {
    background-color: transparent !important;
    border-radius: 8px;
  }

  :host ::ng-deep .readOnly .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-start {
    border: none !important;
    background-color: #F5F5F5 !important;
  }

  :host ::ng-deep .readOnly .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-gap {
    border: none !important;
    background-color: #F5F5F5 !important;
  }

  :host ::ng-deep .readOnly .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-end {
    border: none !important;
    background-color: #F5F5F5 !important;
  }

  :host ::ng-deep .readOnlyPressable .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix input {
    color: #2196f3 !important;
    cursor: pointer;
    font-weight: 500 !important;
  }