<ng-container *ngIf="preferredMFA !== 'SOFTWARE_TOKEN_MFA'">
    <button mat-menu-item class="" (click)="enableMFA()">
        <mat-icon >admin_panel_settings</mat-icon>
        <span>Enable Multi-Factor Authentication</span>
    </button>
</ng-container>

<ng-container *ngIf="preferredMFA === 'SOFTWARE_TOKEN_MFA'">
    <button mat-menu-item class="" (click)="disableMFA()">
        <mat-icon >admin_panel_settings</mat-icon>
        <span>Disable Multi-Factor Authentication</span>
    </button>
</ng-container>

<!-- <ng-container *ngIf="!preferredMFA">
    <button mat-menu-item class="">
        <mat-icon >admin_panel_settings</mat-icon>
        <span>Please wait...</span>
    </button>
</ng-container> -->