.s3-manager-folders-title {
    padding-left: 8px;
}

.s3-manager-folders-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    height: 436px;
    padding: 8px;
}

.s3-manager-folder-info {
    display: flex;
    flex-direction: column;
    width: 128px;
    height: 128px;
}

.s3-manager-folder-button {
    transform: scale(2);
}    

.s3-manager-folder-text {
    width: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }