<ng-container>
    <h3 class="s3-manager-folders-title">Folders:</h3>
    <div class="s3-manager-folders-content">
        <ng-container *ngFor="let folder of folders">
            <div class="s3-manager-folder-info">
                <button color="primary" class="s3-manager-folder-button" mat-icon-button [aria-label]="folder">
                    <mat-icon>folder</mat-icon>
                </button>
                <p class="s3-manager-folder-text">{{folder}}</p>
            </div>
        </ng-container>
    </div>    
</ng-container>