<div class="card">
    <div *ngFor="let table of tables" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div *ngFor="let card of dashboardData[table]; let i = index">
            <mat-card [style.width]="card.width" [style.height]="card.height" style="text-align: center;">
                <mat-card-title style="font-size: medium; font-weight: bold;">{{card.title}}</mat-card-title>
                <dashboard [height]="card.dashboardHeight" [viewHeader]="false" (cellClick)="onCellClick($event)"
                    [tableParams]="{entryName: table, entryIndex: i, keys: keys}">
                </dashboard>
            </mat-card>
            <br><br>
        </div>
    </div>
</div> 