<div class="card">
    <mat-card style="width: 650px; height: 340px; text-align: center;">
            <mat-card-title style="font-size: medium; font-weight: bold;">RISCHI: PROBABILITA' E IMPATTO</mat-card-title>
            <dashboard [height]="242" [viewHeader]="false" (cellClick)="onCellClick($event)"
            [tableParams]="{entryName: 'rischi_rettificati', entryIndex: 0, keys: keys}">
            </dashboard>
    </mat-card>
    <br><br>
    <mat-card style="width: 650px; height: 300px; text-align: center;">
            <mat-card-title style="font-size: medium; font-weight: bold;">RISCHI: PROBABILITA' PER IMPATTO</mat-card-title>
            <dashboard [height]="96" [viewHeader]="false" (cellClick)="onCellClick($event)"
            [tableParams]="{entryName: 'rischi_rettificati', entryIndex: 1, keys: keys}">
            </dashboard>
    </mat-card>
    <br><br>
    <mat-card style="width: 792px; height: 320px; text-align: center;">
            <mat-card-title style="font-size: medium; font-weight: bold;">RISCHIO INERENTE E RISCHIO RESIDUO</mat-card-title>
            <dashboard [height]="212" [viewHeader]="false" (cellClick)="onCellClick($event)"
            [tableParams]="{entryName: 'rischi_rettificati', entryIndex: 2, keys: keys}">
            </dashboard>
    </mat-card> 
    <br><br>
    <mat-card style="width: 792px; height: 320px; text-align: center;">
        <mat-card-title style="font-size: medium; font-weight: bold;">PROVA SILVIO</mat-card-title>
        <dashboard [height]="212" [viewHeader]="false" (cellClick)="onCellClick($event)"
        [tableParams]="{entryName: 'dashboard_sondaggi_somministrati', entryIndex: 0, keys: keys}">
        </dashboard>
</mat-card> 
<br><br>
</div> 