.form-getter-component {
    max-width: 100vw;
    overflow-y: visible;
    width: 100%;

    .not-authorized {
        margin-top: 32px;
        height: 128px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .mat-icon {
            font-size: 64px;
            color: crimson;
        }
    }

    // .form-container {
    //     display: flex;
    //     flex: 1 1 auto;
    //     flex-direction: column;
    //     margin-right: 5%;
    //     margin-left: 5%;
    // }
}