<div class='form-getter-component' *ngIf="formParams">
    <div *ngIf="isAuthorized">
        <mat-progress-bar mode="indeterminate" *ngIf="isAddingNew"></mat-progress-bar>
        <div *ngFor="let idx of pagination.curRecords; trackBy:trackItems; let i = index">
            <div *ngIf="formParams.isVisible && !isLoading && (hiddenRows[idx] == null || hiddenRows[idx] === false)">
                <hr *ngIf="i >= 1">
                <dynamic-form class="form-container" [isQuickAdd]="quickAddData[idx]" [fields]='filteredFormData[idx]'
                    [readOnlyPage]='readonlyRows[0]'>
                </dynamic-form>
            </div>
        </div>
        <mat-card *ngIf="formParams.isVisible && isLoading"
            style="display: flex; justify-content: center; align-items: center; background-color: transparent;">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

        <div align=center style="display: flex;" *ngIf="pagination.totalPages > 1">
            <button [disabled]="pagination.curPage == 1" mat-button (click)="updatePagination(-1)">
                <mat-icon>keyboard_arrow_left</mat-icon>Previous
            </button>
            <p>Page {{this.pagination.curPage}} of {{this.pagination.totalPages}}</p>
            <button [disabled]="pagination.curPage == this.pagination.totalPages" mat-button
                (click)="updatePagination(1)">
                <mat-icon>keyboard_arrow_right</mat-icon>Next
            </button>
        </div>
    </div>
    <div *ngIf="!isAuthorized" class="not-authorized">
        <mat-icon>lock</mat-icon>
    </div>
</div>