<split-view>
    <div class="top-view">

        <mat-toolbar>
    
        <div class="div1">
            <button mat-button>
                <mat-icon>first_page</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <p id="font_12">  Record {{n}} di {{tot}}  </p>
            <button mat-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>last_page</mat-icon>
            </button>
        </div>

        <div class="div2">
            <button mat-button>
                <mat-icon>save</mat-icon>
            </button>

            <button mat-button>
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>share</mat-icon>
            </button>
        </div>  

        </mat-toolbar>

        <div class="form-container">
                <mat-form-field>
                  <input matInput placeholder="Nome">
                </mat-form-field>
              
                <mat-form-field>
                        <input matInput placeholder="Cognome">
                </mat-form-field>
              
                <mat-form-field>
                  <mat-select placeholder="Soggetto">
                    <mat-option value="privato">Privato</mat-option>
                    <mat-option value="giuridico">Soggetto Giuridico</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Note"></textarea>
                </mat-form-field>
              </div>
    </div>
    <div class="bottom-view">
        <p class="full-width">
            Qui sotto le tabelle collegate. 
        </p>
    </div>
</split-view>