<split-view>
    <div class="top-view">

        <mat-toolbar class="p-0 mat-elevation-z1">
    
        <div class="div1">
            <button mat-button>
                <mat-icon>first_page</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <p id="font_12">  Record {{n}} di {{tot}}  </p>
            <button mat-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>last_page</mat-icon>
            </button>
        </div>

        <div class="div2">
            <button mat-button type="submit" form="myform">
                <mat-icon>save</mat-icon>
            </button>

            <button mat-button>
                <mat-icon (click)="delElement()">delete</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>share</mat-icon>
            </button>
        </div>  

        </mat-toolbar>

        <p></p>

        <div class="form-container">
            <dynamic-form [fields]='regConfig_it' (submit)='submit($event)'>
            </dynamic-form>
        </div>



    </div>
    <div class="bottom-view">
        <p class="full-width">
            <mat-tab-group>
                <mat-tab label="Dati risorsa">
                  
                </mat-tab>
                <mat-tab label="Allegati generali">
                  
                </mat-tab>
                <mat-tab label="...">
                  
                </mat-tab>
              </mat-tab-group> 
        </p>
    </div>
</split-view>