<div class="full-width">

    <mat-toolbar class="p-0 mat-elevation-z1">

        <div class="div1">
            <button mat-button>
                <mat-icon (click)="toElement('first')">first_page</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="toElement('prev')">keyboard_arrow_left</mat-icon>
            </button>
            <p id="font_12"> Record {{n}} di {{tot}} </p>
            <button mat-button>
                <mat-icon (click)="toElement('next')">keyboard_arrow_right</mat-icon>
            </button>
            <button mat-button>
                <mat-icon (click)="toElement('last')">last_page</mat-icon>
            </button>
        </div>

        <div class="div2">
            <button mat-button type="submit" form="myform">
                <mat-icon>save</mat-icon>
            </button>

            <button mat-button>
                <mat-icon (click)="delElement()">delete</mat-icon>
            </button>
            <button mat-button>
                <mat-icon>share</mat-icon>
            </button>
        </div>

    </mat-toolbar>

    <br><br>

    <div class="form-container">
        <dynamic-form [fields]='regConfig_it' (submit)='submit($event)'>
        </dynamic-form>
    </div>

    <br><br><hr>

    <bottom-tabs [Tabs]='tabs'></bottom-tabs>

</div>