<mat-tab-group #tabsGroup (selectedTabChange)="tabChanged($event)" class="full-width">
    <mat-tab *ngFor='let tab of filteredTabs; let idx = index' [label]="tab.label">
        <ng-container *ngIf="activeIndex === idx">
            <table-view *ngIf="tab.type === 'table'" [tableData]='tableParams' (sendEvent)='onEvent($event)'>
            </table-view>
            <form-table-view *ngIf="tab.type === 'tableForm'" [tableData]='formTableParams' [SaveData]='tableFormSave'
                (sendEvent)='onEvent($event)'></form-table-view>
        </ng-container>
    </mat-tab>
</mat-tab-group>