<div class="full-width domande-component">
    <div style="margin-top: 8px; width: 100%;">
        <div *ngIf="!isLoading">
            <button mat-button (click)="saveChanges()" style="background-color: rgb(48, 161, 48);" matTooltip="Save Element">
                <mat-icon>save</mat-icon>
                Save
            </button>
            <div *ngFor="let fields of formData; trackBy:trackItems; let i = index">
                    <hr *ngIf="i >= 1">
                    <domanda-risposta class="form-container" [isQuickAdd]="false" [fields]='fields'
                        [readOnlyPage]='false'>
                    </domanda-risposta>
                    <!-- <p>Test</p> -->
                    <!-- <form class='mat-elevation-z2 dynamic-form' [formGroup]='form' [id]='formName' (submit)='onSubmit($event)' style="margin-left: 1%; margin-right: 1%; width: 98%; margin-bottom: 1%; margin-top: 1%; padding:1rem 0.5rem 1rem;" [style.background-color]="isQuickAdd? 'transparent': 'whitesmoke'">
                        <ng-container *ngFor='let field of formData[idx];' dynamicField [field]='field' [group]='form' [readOnlyPage]='readOnlyPage'>
                        </ng-container>
                    </form> -->
            </div>
        </div>
        
        <mat-card *ngIf="isLoading"
            style="display: flex; justify-content: center; align-items: center; background-color: transparent;">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>

        <!-- <form class='mat-elevation-z2 dynamic-form' [formGroup]='form' [id]='formName' (submit)='onSubmit($event)' style="margin-left: 1%; margin-right: 1%; width: 98%; margin-bottom: 1%; margin-top: 1%; padding:1rem 0.5rem 1rem;" [style.background-color]="isQuickAdd? 'transparent': 'whitesmoke'">
            <ng-container *ngFor='let field of fields;' dynamicField [field]='field' [group]='form' [readOnlyPage]='readOnlyPage'>
            </ng-container>
        </form> -->
    </div>    

    
    <!-- <div *ngIf="tabs" class=domande-tab-container>
        <ul class="tabs clearfix" >
            <li *ngFor="let tab of tabs; let i = index" [class]="i == activeTab? 'active': ''"  (click)="changeTab(i)" style="width: 256px;">
                {{tab.entry}}
            </li>
            <li (click)="changeTab(1)" [class]="1 == activeTab? 'active': ''" style="width: 256px;">
                test 1
            </li>
            <li (click)="changeTab(2)" [class]="2 == activeTab? 'active': ''" style="width: 256px;">
                test 2
            </li>
        </ul>
    </div>
    <div class=outer-circle></div>

    <div class="domande-headers">        
    </div> -->    
    <br>
    <!-- 
    <ng-container class="scrolling-element">

    </ng-container> -->

</div>