// Import Fuse core library
@import "@fuse/scss/core";

// Import Toastr
// regular style toast
@import "~ngx-toastr/toastr";

// -----------------------------------------------------------------------------------------------------
// @ Multiple material themes example
// -----------------------------------------------------------------------------------------------------

// Define the Material palettes
$yellow-theme-primary: mat-palette($mat-fusedark);
$yellow-theme-accent: mat-palette($mat-yellow, 600, 400, 700);
$yellow-theme-warn: mat-palette($mat-red);

// Create the Material theme object
$yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);

// Add ".yellow-theme" class to the body to activate this theme
.yellow-theme {
  // Generate the Angular Material theme
  @include angular-material-theme($yellow-theme);

  // Generate the fuse color classes with the new colors...
  @include generateFuseColorClasses($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);
}

// Sweet Alert theme
.swal2-popup {
  font-size: 1.6rem !important;
  // zoom: 1.5;
}

// No overflow
.no-overflow {
  white-space: nowrap;
  overflow: overlay;
  text-overflow: ellipsis;
}
// .swal2-icon {
//   width: 5em !important;
//   height: 5em !important;
//   border-width: .25em !important;
// }

// Material tab
/* Style for mat-tab ink-bar*/
.mat-ink-bar {
  background-color: #049be5 !important;
}

/* Styles for all tab labels */
.mat-tab-label {
  margin: 0px 1px 0px;
  background-color: lightblue !important;
  color: #0009 !important;
  font-weight: 500;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #8885;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  background-color: #049be5 !important;
  color: white !important;
  font-weight: 900;
  border: none !important;
}

.mat-tab-label.mat-tab-disabled {
  background-color: #ddd !important;
  color: #333a !important;
  font-weight: 400;
  border: none !important;
  cursor: not-allowed !important;
}

.mat-table {
  padding: 0;
  overflow-y: visible !important;
}

.mat-header-cell {
  flex-direction: column;
  align-items: start !important;
  justify-content: center;
  background-color: lightblue !important;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-sort-header-button {
  color: black !important;
  // align-items: left !important;
}

// .mat-cell,
// .mat-footer-cell,
// .mat-header-cell {
//   align-items: left !important;
// }
