// Import Fuse core library
@import "@fuse/scss/core";

// Import Toastr
// regular style toast
@import "ngx-toastr/toastr";

// -----------------------------------------------------------------------------------------------------
// @ Multiple material themes example
// -----------------------------------------------------------------------------------------------------

// Define the Material palettes
$yellow-theme-primary: mat-palette($mat-fusedark);
$yellow-theme-accent: mat-palette($mat-yellow, 600, 400, 700);
$yellow-theme-warn: mat-palette($mat-red);

// Create the Material theme object
$yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);

// Add ".yellow-theme" class to the body to activate this theme
.yellow-theme {
  // Generate the Angular Material theme
  @include angular-material-theme($yellow-theme);

  // Generate the fuse color classes with the new colors...
  @include generateFuseColorClasses($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);
}

// Sweet Alert theme
.swal2-popup {
  font-size: 1.6rem !important;
  // zoom: 1.5;
}


// No overflow
.no-overflow {
  white-space: nowrap;
  overflow: overlay;
  text-overflow: ellipsis;
}

#font_12 {
  font-size: 12px;
}

// .swal2-icon {
//   width: 5em !important;
//   height: 5em !important;
//   border-width: .25em !important;
// }

.mat-paginator-page-size-label {
  width: 160px !important;
}

// Material tab
/* Style for mat-tab ink-bar*/
.mat-ink-bar {
  background-color: #144FB7 !important;
  height: 15px;
}

/* Styles for all tab labels */
.mat-tab-label {
  margin: 0px 0px 0px;
  background-color:#A5D2F5 !important;
  color: black !important;
  font-weight: 500;
  border-radius: 8px 18px 8px 18px;
  border: 0.1px solid #144FB7;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  background-color: whitesmoke !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 500;
  border-left: 1px solid #144FB7 !important;
  border-right: 1px solid #144FB7 !important;
  border-top : 1px solid #144FB7 !important;
  border-bottom : none !important;
  border-radius: 10px 10px 1px 1px;
}

.mat-tab-label.mat-tab-disabled {
  color: rgb(104, 87, 87) !important;
  font-weight: 250;
  border: none !important;
  cursor: not-allowed !important;
}

.mat-table {
  padding: 0;
  overflow: visible !important;
}

.mat-row:hover{
  background: #f5f3f3;
}

.mat-header-cell {
  flex-direction: column;
  align-items: start !important;
  padding-left: 15px;
  justify-content: center;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: black !important;
  background-color: #A5D2F5 !important;
}

.mat-footer-cell {
  flex-direction: column;
  align-items: start !important;
  padding-left: 15px;
  justify-content: center;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: black !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-cell {
  text-align: center;
  justify-content: center;
  background-color: transparent;
  border-bottom: black;
  padding-left: 15px;
}

.mat-sort-header-button {
  color: black !important;
  // align-items: left !important;
}

// .mat-cell,
// .mat-footer-cell,
// .mat-header-cell {
//   align-items: left !important;
// }

// .mat-checkbox-inner-container {
//   margin: 5px 8px 5px auto !important;
// }

// // ::ng-deep .mat-checkbox-layout {

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-label {
  white-space: normal !important;
}

.mat-radio-label-content {
  white-space: normal !important;
}

.nav .nav-item .nav-link{
  font-weight: 500 !important;
  font-size: 16px; //metti solo su voce principale
}

.nav-collapsable .nav .nav-item .nav-link{
  font-weight: 100 !important;
}

.mat-active-bg{
  background-color: #7877b88c;
  text-shadow: #3b1a1a;
}

.mat-form-field-flex {
  background: transparent !important;
}

.mat-form-field-outline {
  background: transparent !important;
}

.mat-form-field-wrapper {
  top: 8px;
  // padding-bottom: 2px !important;
}

.mat-paginator-page-size-select .mat-form-field-wrapper {
  top: 0px !important;
}
