@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */

/* ======== Angular material custom themes ======== */ 
$theme-oc-light-primary: mat-palette($mat-blue);
$theme-oc-light-accent: mat-palette($mat-pink, 100, 500, A100);
$theme-oc-light-warn: mat-palette($mat-lime);

// Convert => mat-light-theme()
$theme-oc-light: mat-light-theme($theme-oc-light-primary, $theme-oc-light-accent, $theme-oc-light-warn);


@include angular-material-theme($theme-oc-light);

  .mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-form-field-flex {
  background-color: transparent !important;
}