<div class="full-width">
    <div class="form-table-view-toolbar">
        <mat-form-field style="padding-left: 8px; width: 256px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div style="flex-grow: 1"></div>
        <button mat-button (click)="reload()">
            <mat-icon>refresh</mat-icon>
            Reload
        </button>
        <button mat-button (click)="saveChanges()" *ngIf="!hideActions.includes('save')">
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button mat-button (click)="addNew()" *ngIf="!hideActions.includes('add')">
            <mat-icon>add</mat-icon>
            Quick Add
        </button>
        <button mat-button (click)="fullScreen()">
            <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
            FullScreen
        </button>





    </div>

    <form-getter [filter]="filter" [formParams]='getterParams' (onReload)="reload()"
        (onHideActionsUpdated)="updateHideActions($event)" (onMessagesUpdated)="updateMessages($event)">
    </form-getter>
</div>