.full-width {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.buttonz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

.form-table-view-content {
    width: 100%;
    flex: 1 1;
    overflow-y: auto;
}

.form-table-view-toolbar {
    display: flex;
    height: 66px;
    align-items: center;
}

.form-table-view-toolbar-sticky {
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 6px;
    z-index: 1000;
}

.form-table-view-content {
    margin-bottom: 8px;
}

.form-table-view-content-sticky {
    margin-bottom: 66px;
}

.full-mode {
    height: 60vh;
    overflow-y: auto;
}

.split-mode {
    height: 20vh;
    overflow-y: auto;
}
