.full-width {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.buttonz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

.form-table-view-content {
    width: 100%;
    flex: 1 1;
    overflow-y: auto;
}

.form-table-view-toolbar {
    display: flex;
    height: 66px;
    align-items: center;
}

.full-mode {
    height: 60vh;
    overflow-y: auto;
}

.split-mode {
    height: 20vh;
    overflow-y: auto;
}
