.full-width {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: hidden;
}

.buttonz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

.form-table-view-button {
    flex: 0 0 auto;
}

.form-table-view-content {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
}

.full-mode {
    max-height: 60vh;
}

.split-mode {
    max-height: 20vh;
}
