<ng-container *ngIf="form">
    <form class='mat-elevation-z2 domanda-risposta' [formGroup]='form' [id]='formName' (submit)='onSubmit($event)' style="margin-left: 1%; margin-right: 1%; width: 98%; margin-bottom: 1%; margin-top: 1%; padding:1rem 0.5rem 1rem;" [style.background-color]="isQuickAdd? 'transparent': 'whitesmoke'">
        <ng-container *ngFor='let field of fields;' dynamicField [field]='field' [group]='form' [readOnlyPage]='readOnlyPage'>
        </ng-container>
    </form>
</ng-container>